.nf-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  position: relative;
  clear: both;
  font-size: 15px;
  min-height: 42px;
}
.nf-menu .nf-brand {
  float: left;
  margin-bottom: 0;
  margin-top: 0;
  height: 42px;
  padding: 11px 12px;
  font-size: 1em;
  line-height: 20px;
}
.nf-menu .nf-toggle-main, .nf-menu .nf-toggle-sub {
  float: right;
}
.nf-menu .nf-toggle-main a, .nf-menu .nf-toggle-sub a {
  display: block;
  height: 42px;
  padding: 11px 12px;
  line-height: 20px;
}
@media (max-width: 480px) {
  .nf-menu .nf-toggle-main {
    display: block;
  }
}
@media (min-width: 481px) {
  .nf-menu .nf-toggle-main {
    display: none;
  }
}

@media (max-width: 480px) {
  .nf-section-main, .nf-section-sub {
    position: relative;
    clear: both;
    float: none;
    display: none;
    height: auto;
  }
  .nf-section-main ul, .nf-section-sub ul {
    position: relative;
    width: 100%;
    height: auto;
  }
  .nf-section-main li, .nf-section-sub li {
    display: block;
    width: 100%;
    height: auto;
  }
  .nf-section-main li.divider, .nf-section-sub li.divider {
    width: 100%;
    height: 1px;
  }
  .nf-section-main a, .nf-section-sub a {
    display: block;
  }
  .nf-section-main ul, .nf-section-sub ul {
    background-color: white;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 0;
  }
  .nf-section-main li.divider, .nf-section-sub li.divider {
    display: block;
    border-top: 6px solid gainsboro;
  }
  .nf-section-main a, .nf-section-sub a {
    padding: 12px 8px;
    border-bottom: 1px solid gainsboro;
    border-left: none;
    background: white url('../img/icons-sprite.png?1374683570') no-repeat right -197px;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.25;
  }
}
@media (min-width: 481px) {
  .nf-menu--small .nf-section-main {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    float: right;
  }
  .nf-menu--small .nf-section-main li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 0;
    padding-right: 0;
  }
  .nf-menu--small .nf-section-main li:first-child, .nf-menu--small .nf-section-main li.first {
    padding-left: 0;
  }
  .nf-menu--small .nf-section-main li:last-child {
    padding-right: 0;
  }
  .nf-menu--small .nf-section-main li.last {
    padding-right: 0;
  }
  .nf-menu--small .nf-section-main ul {
    margin-bottom: 0;
  }
  .nf-menu--small .nf-section-main li {
    height: 42px;
  }
  .nf-menu--small .nf-section-main li.divider {
    width: 1px;
    background: none;
  }
  .nf-menu--small .nf-section-main a {
    display: inline-block;
    height: 42px;
    padding: 11px 12px;
    line-height: 20px;
  }
  .nf-menu--small .nf-section-sub {
    position: relative;
    clear: both;
    float: none;
    display: none;
    height: auto;
  }
  .nf-menu--small .nf-section-sub ul {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 11px 0;
  }
  .nf-menu--small .nf-section-sub li {
    display: inline-block;
    width: 32%;
    height: auto;
  }
  .nf-menu--small .nf-section-sub li.divider {
    display: none;
  }
  .nf-menu--small .nf-section-sub a {
    display: block;
    padding: 6px 0 6px 16px;
    font-size: 15px;
    font-weight: 400;
  }
  .nf-menu--small .nf-section-sub a:hover {
    text-decoration: underline;
  }
}
@media (min-width: 481px) and (min-width: 768px) {
  .nf-menu--small .nf-section-sub li {
    width: 24%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .nf-menu--medium .nf-toggle-main {
    display: block;
  }
  .nf-menu--medium .nf-section-main, .nf-menu--medium .nf-section-sub {
    position: relative;
    clear: both;
    float: none;
    display: none;
    height: auto;
  }
  .nf-menu--medium .nf-section-main ul, .nf-menu--medium .nf-section-sub ul {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 11px 0;
  }
  .nf-menu--medium .nf-section-main li, .nf-menu--medium .nf-section-sub li {
    display: inline-block;
    width: 32%;
    height: auto;
  }
  .nf-menu--medium .nf-section-main li.divider, .nf-menu--medium .nf-section-sub li.divider {
    display: none;
  }
  .nf-menu--medium .nf-section-main a, .nf-menu--medium .nf-section-sub a {
    display: block;
    padding: 6px 0 6px 16px;
    font-size: 15px;
    font-weight: 400;
  }
  .nf-menu--medium .nf-section-main a:hover, .nf-menu--medium .nf-section-sub a:hover {
    text-decoration: underline;
  }
  .nf-menu--medium .nf-section-main ul, .nf-menu--medium .nf-section-sub ul {
    background-color: white;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }
  .nf-menu--medium .nf-section-main a, .nf-menu--medium .nf-section-sub a {
    border-left: 1px solid #cccccc;
    background: none;
    color: #333333;
  }
}
@media (min-width: 481px) and (max-width: 768px) and (min-width: 768px) {
  .nf-menu--medium .nf-section-main li, .nf-menu--medium .nf-section-sub li {
    width: 24%;
  }
}
@media (min-width: 769px) {
  .nf-menu--medium .nf-section-main {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    float: right;
  }
  .nf-menu--medium .nf-section-main li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 0;
    padding-right: 0;
  }
  .nf-menu--medium .nf-section-main li:first-child, .nf-menu--medium .nf-section-main li.first {
    padding-left: 0;
  }
  .nf-menu--medium .nf-section-main li:last-child {
    padding-right: 0;
  }
  .nf-menu--medium .nf-section-main li.last {
    padding-right: 0;
  }
  .nf-menu--medium .nf-section-main ul {
    margin-bottom: 0;
  }
  .nf-menu--medium .nf-section-main li {
    height: 42px;
  }
  .nf-menu--medium .nf-section-main li.divider {
    width: 1px;
    background: none;
  }
  .nf-menu--medium .nf-section-main a {
    display: inline-block;
    height: 42px;
    padding: 11px 12px;
    line-height: 20px;
  }
  .nf-menu--medium .nf-section-sub {
    position: relative;
    clear: both;
    float: none;
    display: none;
    height: auto;
  }
  .nf-menu--medium .nf-section-sub ul {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 11px 0;
  }
  .nf-menu--medium .nf-section-sub li {
    display: inline-block;
    width: 32%;
    height: auto;
  }
  .nf-menu--medium .nf-section-sub li.divider {
    display: none;
  }
  .nf-menu--medium .nf-section-sub a {
    display: block;
    padding: 6px 0 6px 16px;
    font-size: 15px;
    font-weight: 400;
  }
  .nf-menu--medium .nf-section-sub a:hover {
    text-decoration: underline;
  }
}
@media (min-width: 769px) and (min-width: 768px) {
  .nf-menu--medium .nf-section-sub li {
    width: 24%;
  }
}

@media (min-width: 481px) and (max-width: 960px) {
  .nf-menu--large .nf-toggle-main {
    display: block;
  }
  .nf-menu--large .nf-section-main, .nf-menu--large .nf-section-sub {
    position: relative;
    clear: both;
    float: none;
    display: none;
    height: auto;
  }
  .nf-menu--large .nf-section-main ul, .nf-menu--large .nf-section-sub ul {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 11px 0;
  }
  .nf-menu--large .nf-section-main li, .nf-menu--large .nf-section-sub li {
    display: inline-block;
    width: 32%;
    height: auto;
  }
  .nf-menu--large .nf-section-main li.divider, .nf-menu--large .nf-section-sub li.divider {
    display: none;
  }
  .nf-menu--large .nf-section-main a, .nf-menu--large .nf-section-sub a {
    display: block;
    padding: 6px 0 6px 16px;
    font-size: 15px;
    font-weight: 400;
  }
  .nf-menu--large .nf-section-main a:hover, .nf-menu--large .nf-section-sub a:hover {
    text-decoration: underline;
  }
  .nf-menu--large .nf-section-main ul, .nf-menu--large .nf-section-sub ul {
    background-color: white;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }
  .nf-menu--large .nf-section-main a, .nf-menu--large .nf-section-sub a {
    border-left: 1px solid #cccccc;
    background: none;
    color: #333333;
  }
}
@media (min-width: 481px) and (max-width: 960px) and (min-width: 768px) {
  .nf-menu--large .nf-section-main li, .nf-menu--large .nf-section-sub li {
    width: 24%;
  }
}
@media (min-width: 961px) {
  .nf-menu--large .nf-section-main {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    float: right;
  }
  .nf-menu--large .nf-section-main li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 0;
    padding-right: 0;
  }
  .nf-menu--large .nf-section-main li:first-child, .nf-menu--large .nf-section-main li.first {
    padding-left: 0;
  }
  .nf-menu--large .nf-section-main li:last-child {
    padding-right: 0;
  }
  .nf-menu--large .nf-section-main li.last {
    padding-right: 0;
  }
  .nf-menu--large .nf-section-main ul {
    margin-bottom: 0;
  }
  .nf-menu--large .nf-section-main li {
    height: 42px;
  }
  .nf-menu--large .nf-section-main li.divider {
    width: 1px;
    background: none;
  }
  .nf-menu--large .nf-section-main a {
    display: inline-block;
    height: 42px;
    padding: 11px 12px;
    line-height: 20px;
  }
  .nf-menu--large .nf-section-sub {
    position: relative;
    clear: both;
    float: none;
    display: none;
    height: auto;
  }
  .nf-menu--large .nf-section-sub ul {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 11px 0;
  }
  .nf-menu--large .nf-section-sub li {
    display: inline-block;
    width: 32%;
    height: auto;
  }
  .nf-menu--large .nf-section-sub li.divider {
    display: none;
  }
  .nf-menu--large .nf-section-sub a {
    display: block;
    padding: 6px 0 6px 16px;
    font-size: 15px;
    font-weight: 400;
  }
  .nf-menu--large .nf-section-sub a:hover {
    text-decoration: underline;
  }
}
@media (min-width: 961px) and (min-width: 768px) {
  .nf-menu--large .nf-section-sub li {
    width: 24%;
  }
}

.nf-menu--white {
  background-color: white;
}
.nf-menu--white a {
  color: #777777;
  font-weight: 600;
  cursor: pointer;
}
.nf-menu--white .nf-brand a {
  color: #777777;
  font-size: 17px;
  font-weight: 900;
}
.nf-menu--white .nf-toggle-main a {
  background: #dddddd;
  color: #111111;
  font-weight: bold;
}
.nf-menu--white .nf-section-keep {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
.nf-menu--white .nf-section-keep li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
.nf-menu--white .nf-section-keep li:first-child, .nf-menu--white .nf-section-keep li.first {
  padding-left: 0;
}
.nf-menu--white .nf-section-keep li:last-child {
  padding-right: 0;
}
.nf-menu--white .nf-section-keep li.last {
  padding-right: 0;
}
.nf-menu--white .nf-section-keep ul {
  margin-bottom: 0;
}
.nf-menu--white .nf-section-keep li {
  height: 42px;
}
.nf-menu--white .nf-section-keep li.divider {
  width: 1px;
  background: none;
}
.nf-menu--white .nf-section-keep a {
  display: inline-block;
  height: 42px;
  padding: 11px 12px;
  line-height: 20px;
}
.nf-menu--white .nf-toggle-sub a {
  font-weight: bold;
}
.nf-menu--white .nf-toggle-icon {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 30px;
  margin-right: -8px;
  background: url('../img/icons-sprite.png?1374683570') no-repeat center -409px;
}
.nf-open .nf-menu--white .nf-toggle-icon {
  background-position: center -311px;
}
.nf-menu--white .nf-section-main li.divider, .nf-menu--white .nf-section-keep li.divider {
  border-left: 1px solid #cccccc;
}
.nf-menu--white .nf-section-sub ul {
  background-color: white;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.nf-menu--white .nf-section-sub a {
  border-left: 1px solid #cccccc;
  color: #666666;
  font-weight: normal;
}

.nf-menu--red {
  background-color: #cc0000;
}
.nf-menu--red a {
  color: white;
  font-weight: 400;
  cursor: pointer;
}
.nf-menu--red .nf-brand a {
  color: white;
  font-size: 17px;
  font-weight: 900;
}
.nf-menu--red .nf-toggle-main a {
  background: #990000;
  color: white;
  font-weight: bold;
}
.nf-menu--red .nf-section-keep {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
.nf-menu--red .nf-section-keep li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
.nf-menu--red .nf-section-keep li:first-child, .nf-menu--red .nf-section-keep li.first {
  padding-left: 0;
}
.nf-menu--red .nf-section-keep li:last-child {
  padding-right: 0;
}
.nf-menu--red .nf-section-keep li.last {
  padding-right: 0;
}
.nf-menu--red .nf-section-keep ul {
  margin-bottom: 0;
}
.nf-menu--red .nf-section-keep li {
  height: 42px;
}
.nf-menu--red .nf-section-keep li.divider {
  width: 1px;
  background: none;
}
.nf-menu--red .nf-section-keep a {
  display: inline-block;
  height: 42px;
  padding: 11px 12px;
  line-height: 20px;
}
.nf-menu--red .nf-toggle-sub a {
  font-weight: bold;
}
.nf-menu--red .nf-toggle-icon {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 30px;
  margin-right: -8px;
  background: url('../img/icons-sprite.png?1374683570') no-repeat center -409px;
}
.nf-open .nf-menu--red .nf-toggle-icon {
  background-position: center -311px;
}
.nf-menu--red .nf-section-main li.divider, .nf-menu--red .nf-section-keep li.divider {
  border-left: 1px solid #990000;
}
.nf-menu--red .nf-section-sub ul {
  background-color: white;
  border-top: 1px solid #aa0000;
  border-bottom: 1px solid #cccccc;
}
.nf-menu--red .nf-section-sub a {
  border-left: 1px solid #aa0000;
  color: #333333;
  font-weight: normal;
}

.nf-menu--blue {
  background-color: #1191d2;
}
.nf-menu--blue a {
  color: white;
  font-weight: 400;
  cursor: pointer;
}
.nf-menu--blue .nf-brand a {
  color: white;
  font-size: 17px;
  font-weight: 900;
}
.nf-menu--blue .nf-toggle-main a {
  background: #0f81ba;
  color: white;
  font-weight: bold;
}
.nf-menu--blue .nf-section-keep {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
.nf-menu--blue .nf-section-keep li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
.nf-menu--blue .nf-section-keep li:first-child, .nf-menu--blue .nf-section-keep li.first {
  padding-left: 0;
}
.nf-menu--blue .nf-section-keep li:last-child {
  padding-right: 0;
}
.nf-menu--blue .nf-section-keep li.last {
  padding-right: 0;
}
.nf-menu--blue .nf-section-keep ul {
  margin-bottom: 0;
}
.nf-menu--blue .nf-section-keep li {
  height: 42px;
}
.nf-menu--blue .nf-section-keep li.divider {
  width: 1px;
  background: none;
}
.nf-menu--blue .nf-section-keep a {
  display: inline-block;
  height: 42px;
  padding: 11px 12px;
  line-height: 20px;
}
.nf-menu--blue .nf-toggle-sub a {
  font-weight: bold;
}
.nf-menu--blue .nf-toggle-icon {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 30px;
  margin-right: -8px;
  background: url('../img/icons-sprite.png?1374683570') no-repeat center -409px;
}
.nf-open .nf-menu--blue .nf-toggle-icon {
  background-position: center -311px;
}
.nf-menu--blue .nf-section-main li.divider, .nf-menu--blue .nf-section-keep li.divider {
  border-left: 1px solid #0f81ba;
}
.nf-menu--blue .nf-section-sub ul {
  background-color: white;
  border-top: 1px solid #1191d2;
  border-bottom: 1px solid #cccccc;
}
.nf-menu--blue .nf-section-sub a {
  border-left: 1px solid #1191d2;
  color: #333333;
  font-weight: normal;
}
