/*
 * Layout
 */
$nfTopbarHeight: 42px;
@mixin nf-menu-wide {
  float: right;
  ul {
    position: relative;
    height: $nfTopbarHeight;
    li {
      list-style: none;
      display: inline-block;
      height: $nfTopbarHeight;
      &.divider {
        width: 1px;
        background: none;
      }
      a {
        display: table-cell;
        height: $nfTopbarHeight;
        padding: 11px 8px;
      }
    }
  }
}
@mixin nf-menu-medium {
  display: none;
  position: relative;
  float: none;
  clear: both;
  height: auto;
  ul {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 0;
    li {
      display: inline-block;
      width: 31%;
      height: auto;
      &.divider {
        display: none;
      }
      a {
        display: block;
        padding: 6px 0 6px 16px;
        font-size: 15px;
        font-weight: 400;
        &:hover {
          text-decoration: underline;
        }
      }
      @media (max-width:480px) {
        width: 32%;
      }
      @media (min-width:769px) {
        width: 24%;
      }
    }
  }
}
@mixin nf-menu-compact {
  position: relative;
  display: none;
  float: none;
  clear: both;
  height: auto;
  ul {
    position: relative;
    width: 100%;
    height: auto;
    li {
      display: block;
      width: 100%;
      height: auto;
      &.divider {
        width: 100%;
        height: 1px;
      }
      a {
        display: block;
      }
    }
  }
}
/*
 * Theming
 */
/************** MENU: WHITE **************/
@mixin topbar-global-white {
  background-color: #fff;
  a {
    color: #777;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  }
  .nf-brand a {
    color: #777;
    font-size: 17px;
    font-weight: 900;
  }
  .nf-toggle-main a {
    background: #ddd;
    color: #111;
    font-weight: bold;
  }
  .nf-section-keep {
    @include nf-menu-wide;
    ul li {
      &.divider {
        border-left: 1px solid #ccc;
      }
    }
  }
}
@mixin topbar-theme-white-wide {
  @include topbar-global-white;
  .nf-section-main {
    @include nf-menu-wide;
    ul li {
      &.divider {
        border-left: 1px solid #ccc;
      }
    }
  }
  .nf-section-sub {
    @include nf-menu-medium;
    ul {
      background-color: #fff;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      li a {
        border-left: 1px solid #aaa;
        color: #666;
        font-weight: normal;
      }
    }
  }
}
@mixin topbar-theme-white-medium {
  @include topbar-global-white;
  .nf-toggle-main {
    display: block;
  }
  .nf-section-main, .nf-section-sub {
    @include nf-menu-medium;
    ul {
      background-color: #f5f5f5;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      li {
        &.divider {
          border: 0;
        }
        a {
          border-left: 1px solid #ccc;
          background: none;
          color: #333
        }
      }
    }
  }
}
@mixin topbar-theme-white-compact {
  @include topbar-global-white;
  .nf-section-main, .nf-section-sub {
    @include nf-menu-compact;
    ul {
      background-color: #fff;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 0;
      li {
        &.divider {
          display: block;
          border-top: 6px solid #dcdcdc
        }
        a {
          line-height: 1.25;
          letter-spacing: 0;
          font-weight: 700;
          padding: 12px 8px;
          font-size: 16px;
          color: #1e1e1e;
          border-bottom: 1px solid #dcdcdc;
          background: #fff url('../img/icons-sprite.png') no-repeat right -197px;
        }
      }
    }
  }
}
/************** MENU: RED **************/
@mixin topbar-global-red {
  background-color: #c00;
  a {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    cursor: pointer;
  }
  .nf-brand a {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
  }
  .nf-toggle-main a {
    background: #900;
    color: #fff;
    font-weight: bold;
  }
  .nf-toggle-sub {
    a {
      background: url('../img/icons-sprite.png') no-repeat right -396px;
      padding-right: 30px;
      font-weight: bold;
    }
    &.nf-open a {
      background: url('../img/icons-sprite.png') no-repeat right -297px;
    }
  }
  .nf-section-keep {
    @include nf-menu-wide;
    ul li {
      &.divider {
        border-left: 1px solid #900;
      }
    }
  }
}
@mixin topbar-theme-red-wide {
  @include topbar-global-red;
  .nf-section-main {
    @include nf-menu-wide;
    ul li {
      &.divider {
        border-left: 1px solid #900;
      }
    }
  }
  .nf-section-sub {
    @include nf-menu-medium;
    ul {
      background-color: #fff;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      li {
        a {
          border-left: 1px solid #a00;
          background: none;
          color: #333;
        }
      }
    }
  }
}
@mixin topbar-theme-red-medium {
  @include topbar-global-red;
  .nf-toggle-main {
    display: block;
  }
  .nf-section-main, .nf-section-sub {
    @include nf-menu-medium;
    ul {
      background-color: #fff;
      border: none;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      li {
        &.divider {
          display: none;
        }
        a {
          border-left: 1px solid #a00;
          background: none;
          color: #333;
        }
      }
    }
  }
}
@mixin topbar-theme-red-compact {
  @include topbar-global-red;
  .nf-section-main, .nf-section-sub {
    @include nf-menu-compact;
    ul {
      background-color: #fff;
      li {
        &.divider {
          border-top: 6px solid #dcdcdc
        }
        a {
          line-height: 1.25;
          letter-spacing: 0;
          font-weight: 700;
          padding: 12px 8px;
          font-size: 16px;
          color: #1e1e1e;
          border-bottom: 1px solid #dcdcdc;
          background: #fff url('../img/icons-sprite.png') no-repeat right -197px;
        }
      }
    }
  }
}
/************** MENU: BLUE **************/
@mixin topbar-global-blue {
  background-color: #1191d2;
  a {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    cursor: pointer;
  }
  .nf-brand a {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
  }
  .nf-toggle-main a {
    background: #f5f5f5;
    color: #1191d2;
    font-weight: bold;
  }
  .nf-section-keep {
    @include nf-menu-wide;
    ul li {
      &.divider {
        border-left: 1px solid #ccc;
      }
    }
  }
}
@mixin topbar-theme-blue-wide {
  @include topbar-global-blue;
  .nf-section-main {
    @include nf-menu-wide;
    ul li {
      &.divider {
        border-left: 1px solid #ccc;
      }
    }
  }
  .nf-section-sub {
    @include nf-menu-medium;
    ul {
      background-color: #fff;
      border: none;
      border-bottom: 1px solid #ccc;
      li a {
        border-left: 1px solid #1191d2;
        color: #333;
      }
    }
  }
}
@mixin topbar-theme-blue-medium {
  @include topbar-global-blue;
  .nf-toggle-main {
    display: block;
  }
  .nf-section-main, .nf-section-sub {
    @include nf-menu-medium;
    ul {
      background-color: #fff;
      border: none;
      border-bottom: 1px solid #ccc;
      li {
        &.divider {
          display: none;
        }
        a {
          border-left: 1px solid #1191d2;
          background: none;
          color: #333;
        }
      }
    }
  }
}
@mixin topbar-theme-blue-compact {
  @include topbar-global-blue;
  .nf-section-main, .nf-section-sub {
    @include nf-menu-compact;
    ul {
      li {
        &.divider {
          border-top: 2px solid #1191d2
        }
        a {
          line-height: 1.25;
          letter-spacing: 0;
          font-weight: 700;
          padding: 16px 8px;
          font-size: 16px;
          color: #1e1e1e;
          border-bottom: 1px solid #aaa;
          background: #f5f5f5;
          &:hover {
            background: #ddd;
          }
        }
      }
    }
  }
}
/*
 * NF-MAINBAR Global Style
 */
.nf-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  position: relative;
  clear: both;
  font-size: 14px;
  min-height: $nfTopbarHeight;
  * {
    margin: 0;
    padding: 0;
  }
  .nf-brand {
    float: left;
    padding: 15px;
    height: $nfTopbarHeight;
  }
  .nf-toggle-main {
    float: right;
    display: inline-block;
    a {
      display: block;
      padding: 15px;
      height: $nfTopbarHeight;
    }
    @media (max-width:480px) {
      display: block;
    }
    @media (min-width:481px) {
      display: none;
    }
  }
  .nf-toggle-sub {
    float: right;
    display: inline-block;
    a {
      height: $nfTopbarHeight;
      display: block;
      padding: 15px;
    }
  }
  &.nf-small {
    &.nf-white {
      @media (max-width:480px) {
        @include topbar-theme-white-compact;
      }
      @media (min-width:481px) {
        @include topbar-theme-white-wide;
      }
    }
    &.nf-red {
      @media (max-width:480px) {
        @include topbar-theme-red-compact;
      }
      @media (min-width:481px) {
        @include topbar-theme-red-wide;
      }
    }
    &.nf-blue {
      @media (max-width:480px) {
        @include topbar-theme-blue-compact;
      }
      @media (min-width:481px) {
        @include topbar-theme-blue-wide;
      }
    }
  }
  &.nf-medium {
    &.nf-white {
      @media (max-width:480px) {
        @include topbar-theme-white-compact;
      }
      @media (min-width:481px) and (max-width: 768px){
        @include topbar-theme-white-medium;
      }
      @media (min-width:769px) {
        @include topbar-theme-white-wide;
      }
    }
    &.nf-red {
      @media (max-width:480px) {
        @include topbar-theme-red-compact;
      }
      @media (min-width:481px) and (max-width: 768px){
        @include topbar-theme-red-medium;
      }
      @media (min-width:769px) {
        @include topbar-theme-red-wide;
      }
    }
    &.nf-blue {
      @media (max-width:480px) {
        @include topbar-theme-blue-compact;
      }
      @media (min-width:481px) and (max-width: 768px){
        @include topbar-theme-blue-medium;
      }
      @media (min-width:769px) {
        @include topbar-theme-blue-wide;
      }
    }
  }
  &.nf-large {
    &.nf-white {
      @media (max-width:480px) {
        @include topbar-theme-white-compact;
      }
      @media (min-width:481px) and (max-width: 960px){
        @include topbar-theme-white-medium;
      }
      @media (min-width:961px) {
        @include topbar-theme-white-wide;
      }
    }
    &.nf-red {
      @media (max-width:480px) {
        @include topbar-theme-red-compact;
      }
      @media (min-width:481px) and (max-width: 960px){
        @include topbar-theme-red-medium;
      }
      @media (min-width:961px) {
        @include topbar-theme-red-wide;
      }
    }
    &.nf-blue {
      @media (max-width:480px) {
        @include topbar-theme-blue-compact;
      }
      @media (min-width:481px) and (max-width: 960px){
        @include topbar-theme-blue-medium;
      }
      @media (min-width:961px) {
        @include topbar-theme-blue-wide;
      }
    }
  }
}
